.name {
    display: flex;
    padding-right: 25px;
    margin-right: 300px;
    
}
  
.name h1 {
    font-weight: 700;
    font-size: 55px;
    text-align: center; 
    margin-top: 20px;
    color: white;    
}
  
.adminlist{
    margin-top: 50px;
    padding-top: 10px;
}

.cardTitle{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 800;   
}

.logbtn{
    padding: 20px;
    margin-top: 10px;
    font-size: 25px;
    padding-left: 30px;
    padding-right: 30px;
}

.card:hover{
    background-color: rgb(177, 176, 176);
}

.container{
    background-color: rgb(18, 83, 135);
    border-radius: 20px;
    padding: 50px;
}